In [1]:
print("Hello World!")

Hello World!

In [2]:
# Comments to code are not executed and are flagged with this '#' symbol.
# First we'll import the pandas library.
# We use 'as' so that we can reference it as 'pd', which is shorter to type.

import pandas as pd

# In Python, we can declare our variables by simply naming them, like below
# 'data_url' is a variable name and the url is the text reference we're assigning to it

data_url = "https://docs.google.com/spreadsheets/d/1P0ob0sfz3xqG8u_dxT98YcVTMwzPSnya_qx6MbX-_Z8/pub?gid=0&single=true&output=csv"

# We import our data as a 'dataframe' using this simple instruction.
# How did I know it was a CSV (Comma Separated Value) file? If you look at the end of the urls (above),
# you'll see 'output=csv'. A variable in Python can be anything. Here our variable is a Pandas dataframe type.

data = pd.read_csv(data_url)

# Lets see what that looks like (I limit the number of rows printed by using '[:10]', 
# and Python is '0' indexed, meaning the first item starts at '0'):

data.head(10)

,Date,Governorate,Cases,Deaths,CFR (%),Attack Rate (per 1000),COD Gov English,COD Gov Arabic,COD Gov Pcode
0,2018-02-18,Amran,103965,176,0.17,89.582,Amran,عمران,29.0
1,2018-02-18,Al Mahwit,62887,151,0.24,86.122,Al Mahwit,المحويت,27.0
2,2018-02-18,Al Dhale'e,47136,81,0.17,64.438,Al Dhale'e,الضالع,30.0
3,2018-02-18,Hajjah,121287,422,0.35,52.060,Hajjah,حجة,17.0
4,2018-02-18,Sana'a,76250,123,0.16,51.859,Sana'a,صنعاء,23.0
5,2018-02-18,Dhamar,103214,161,0.16,51.292,Dhamar,ذمار,20.0
6,2018-02-18,Abyan,28243,35,0.12,49.477,Abyan,أبين,12.0
7,2018-02-18,Al Hudaydah,155908,282,0.18,48.147,Al Hudaydah,الحديدة,18.0
8,2018-02-18,Al Bayda,30568,36,0.12,40.253,Al Bayda,البيضاء,14.0
9,2018-02-18,Amanat Al Asimah,103184,71,0.07,36.489,Amanat Al Asimah,أمانة العاصمة,13.0

In [3]:
# First we set the url for the metadata table
metadata_url = "https://docs.google.com/spreadsheets/d/1P0ob0sfz3xqG8u_dxT98YcVTMwzPSnya_qx6MbX-_Z8/pub?gid=771626114&single=true&output=csv"
# Import it from CSV
metadata = pd.read_csv(metadata_url)
# Show the metadata:
metadata

                    Column                                        Description
0                     Date               Date when the figures were reported.
1              Governorate  The Governorate name as reported in the WHO ep...
2                    Cases  Number of cases recorded in the governorate si...
3                   Deaths  Number of deaths recorded in the governorate s...
4                  CFR (%)  The case fatality rate in governorate since 27...
5   Attack Rate (per 1000)  The attack rate per 1,000 of the population in...
6          COD Gov English  The English name for the governorate according...
7           COD Gov Arabic  The Arabic name for the governorate according ...
8            COD Gov Pcode  The PCODE name for the governorate according t...
9            Bulletin Type  The type of bulletin from which the data was e...
10            Bulletin URL  The URL of the bulletin from which the data wa...

In [4]:
# The column widths are too narrow to read the full text. There are two ways we can widen them. 
#First, the one-line solution.
# Note: it's 2 up-to 6, i.e. up-to-but-not-including
metadata[2:6].style.set_properties(subset=["Description"], **{"width": "400px", "text-align": "left"})

In [5]:
for i in range(2, 6):
    print(F"{i} - {metadata.Description[i]}")

2 - Number of cases recorded in the governorate since 27 April 2017.
3 - Number of deaths recorded in the governorate since 27 April 2017.
4 - The case fatality rate in governorate since 27 April 2017.
5 - The attack rate per 1,000 of the population in the governorate since 27 April 2017.

In [6]:
# Get the unique governorates from the 'Governorate' column:
# Note the way we address the column and call for 'unique()'

governorates = data.Governorate.unique()

print(F"Number of Governorates: {len(governorates)}")

print(governorates)

Number of Governorates: 26
['Amran' 'Al Mahwit' "Al Dhale'e" 'Hajjah' "Sana'a" 'Dhamar' 'Abyan'
 'Al Hudaydah' 'Al Bayda' 'Amanat Al Asimah' 'Raymah' 'Al Jawf' 'Lahj'
 'Aden' 'Ibb' 'Taizz' 'Marib' "Sa'ada" 'Al Maharah' 'Shabwah' 'Moklla'
 "Say'on" 'Al-Hudaydah' 'Al_Jawf' "Ma'areb" 'AL Mahrah']

In [7]:
# We can do the same for the dates, but we also want to know the start and end
# Note the alternative way to address a dataframe column which permits use of names 
# with spaces or none-alphabetic characters

date_list = data["Date"].unique()

print(F"Starting on {min(date_list)}, ending on {max(date_list)}; with {len(date_list)} periods.")

Starting on 2017-05-22, ending on 2018-02-18; with 136 periods.

In [8]:
# This will give us a quick summary of the data, including value types and the number or rows with valid data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2914 entries, 0 to 2913
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    2914 non-null   object
 1   Governorate             2914 non-null   object
 2   Cases                   2914 non-null   object
 3   Deaths                  2914 non-null   int64
 4   CFR (%)                 2914 non-null   float64
 5   Attack Rate (per 1000)  2914 non-null   float64
 6   COD Gov English         2713 non-null   object
 7   COD Gov Arabic          2713 non-null   object
 8   COD Gov Pcode           2713 non-null   float64
dtypes: float64(3), int64(1), object(5)
memory usage: 205.0+ KB

In [9]:
# First, we limit our original data only to the columns we will use,
# and we sort the table according to the attack rate:
data_slice = data[["Date", "Governorate", "Cases", "Deaths", "CFR (%)", "Attack Rate (per 1000)"]
                 ].sort_values("Attack Rate (per 1000)", ascending=False)
# Now we create our two slices, and set the index to Governorate
ds_start = data_slice.loc[data_slice.Date == "2017-05-22"].set_index("Governorate")
ds_end = data_slice.loc[data_slice.Date == "2018-02-18"].set_index("Governorate")
# And print
print(ds_start)
print(ds_end)

                        Date Cases  Deaths  CFR (%)  Attack Rate (per 1000)
Governorate
Al Mahwit         2017-05-22  2486      34      1.4                    3.27
Sana'a            2017-05-22  3815      39      1.0                    3.05
Amanat Al Asimah  2017-05-22  9216      33      0.4                    2.79
Amran             2017-05-22  3743      45      1.2                    2.45
Hajjah            2017-05-22  4664      42      0.9                    2.10
Al Bayda          2017-05-22  1498       6      0.4                    1.95
Al Dhale'e        2017-05-22  1401       8      0.6                    1.86
Abyan             2017-05-22  1068      10      0.9                    1.75
Raymah            2017-05-22   549       4      0.7                    0.87
Dhamar            2017-05-22  1617      33      2.0                    0.76
Taizz             2017-05-22  1791      23      1.3                    0.59
Aden              2017-05-22   489      12      2.5                    0.51
Ibb               2017-05-22  1378      37      2.7                    0.45
Al-Hudaydah       2017-05-22  1397      32      2.3                    0.42
Al_Jawf           2017-05-22   189       3      1.6                    0.29
Lahj              2017-05-22   168       0      0.0                    0.16
Ma'areb           2017-05-22     2       0      0.0                    0.01
                        Date   Cases  Deaths  CFR (%)  Attack Rate (per 1000)
Governorate
Amran             2018-02-18  103965     176     0.17                  89.582
Al Mahwit         2018-02-18   62887     151     0.24                  86.122
Al Dhale'e        2018-02-18   47136      81     0.17                  64.438
Hajjah            2018-02-18  121287     422     0.35                  52.060
Sana'a            2018-02-18   76250     123     0.16                  51.859
Dhamar            2018-02-18  103214     161     0.16                  51.292
Abyan             2018-02-18   28243      35     0.12                  49.477
Al Hudaydah       2018-02-18  155908     282     0.18                  48.147
Al Bayda          2018-02-18   30568      36     0.12                  40.253
Amanat Al Asimah  2018-02-18  103184      71     0.07                  36.489
Raymah            2018-02-18   17841     120     0.67                  29.403
Al Jawf           2018-02-18   16018      22     0.14                  27.685
Lahj              2018-02-18   24342      22     0.09                  24.128
Aden              2018-02-18   20966      62     0.30                  22.715
Ibb               2018-02-18   67129     288     0.43                  22.701
Taizz             2018-02-18   63696     188     0.30                  21.244
Marib             2018-02-18    7288       7     0.10                  20.327
Sa'ada            2018-02-18   10706       5     0.05                  11.828
Al Maharah        2018-02-18    1168       1     0.09                   7.866
Shabwah           2018-02-18    1399       3     0.21                   2.315
Moklla            2018-02-18     569       2     0.35                   1.290
Say'on            2018-02-18      22       0     0.00                   0.058

In [10]:
# A dictionary is a set of key: value pairs - the 'key' is a term used to index a specific value;
# the 'value' can be any Python object. Here it is a list of terms we want to search for:
fix = {"Hadramaut": ["Moklla","Say'on"],
       "Al Hudaydah": ["Al Hudaydah", "Al-Hudaydah"], 
       "Al Jawf": ["Al Jawf", "Al_Jawf"], 
       "Al Maharah": ["Al Maharah", "AL Mahrah"], 
       "Marib": ["Marib", "Ma'areb"]
      }

In [11]:
def fix_governorates(data, fix_govs):
    """
    Rename terms in a dataframe based on a key-value dictionary.
    
    This is our function _fix_governorates_; note that we must pass it
    two variables, known as arguments.
    
    Args:
        data - the dataframe we want to fix;
        fix_govs - a dictionary of the governorates we need to correct.
    
    The function will perform the following task:
        For a given dataframe, date list, and dictionary of Governorates
        loop through the keys in the dictionary and combine the list 
        of associated governorates into a new dataframe.
        Return a new, corrected, dataframe.
        
    Returns:
        Pandas dataframe.
    """
    # Create an empty list for each of the new dataframes we'll create
    new_frames = []
    # And an empty list for all the governorates we'll need to remove later
    remove = []
    # Create our list of dates
    date_list = data["Date"].unique()
    # Loop through each of the governorates we need to fix
    for key in fix_govs.keys():
        # Create a filtered dataframe containing only the governorates to fix
        ds = data.loc[data.Governorate.isin(fix_govs[key])]
        # New entries for the new dataframe
        new_rows = {"Date": [],
                    "Cases": [],
                    "Deaths": [],
                    "CFR (%)": [],
                    "Attack Rate (per 1000)": []
                   }
        # Divisor for averages (i.e. there could be more than 2 govs to fix)
        num = len(fix_govs[key])
        # Add the governorate values to the remove list
        remove.extend(fix_govs[key])
        # For each date, generate new values
        for d in date_list:
            # Data in the dataframe is stored as a Timestamp value
            r = ds[ds["Date"] == pd.Timestamp(d)]
            new_rows["Date"].append(pd.Timestamp(d))
            new_rows["Cases"].append(r.Cases.sum())
            new_rows["Deaths"].append(r.Deaths.sum())
            new_rows["CFR (%)"].append(r["CFR (%)"].sum()/num)
            new_rows["Attack Rate (per 1000)"].append(r["Attack Rate (per 1000)"].sum()/num)
        # Create a new dataframe from the combined data
        new_rows = pd.DataFrame(new_rows)
        # And assign the values to the key governorate
        new_rows["Governorate"] = key
        # Add the new dataframe to our list of new frames
        new_frames.append(new_rows)
    # Get an inverse filtered dataframe from what we had before
    ds = data.loc[~data.Governorate.isin(remove)]
    new_frames.append(ds)
    # Return a new contatenated dataframe with all our corrected data
    return pd.concat(new_frames, ignore_index=True)

In [12]:
data_slice = fix_governorates(data_slice, fix).sort_values("Attack Rate (per 1000)", ascending=False)
# Now we recreate our two slices, and set the index to Governorate
ds_start = data_slice.loc[data_slice.Date == "2017-05-22"].set_index("Governorate")
ds_end = data_slice.loc[data_slice.Date == "2018-02-18"].set_index("Governorate")
# And print
print(ds_start)
print(ds_end)

                        Date Cases  Deaths  CFR (%)  Attack Rate (per 1000)
Governorate
Al Mahwit         2017-05-22  2486      34      1.4                    3.27
Sana'a            2017-05-22  3815      39      1.0                    3.05
Amanat Al Asimah  2017-05-22  9216      33      0.4                    2.79
Amran             2017-05-22  3743      45      1.2                    2.45
Hajjah            2017-05-22  4664      42      0.9                    2.10
Al Bayda          2017-05-22  1498       6      0.4                    1.95
Al Dhale'e        2017-05-22  1401       8      0.6                    1.86
Abyan             2017-05-22  1068      10      0.9                    1.75
Raymah            2017-05-22   549       4      0.7                    0.87
Dhamar            2017-05-22  1617      33      2.0                    0.76
Taizz             2017-05-22  1791      23      1.3                    0.59
Aden              2017-05-22   489      12      2.5                    0.51
Ibb               2017-05-22  1378      37      2.7                    0.45
Lahj              2017-05-22   168       0      0.0                    0.16
                        Date   Cases  Deaths  CFR (%)  Attack Rate (per 1000)
Governorate
Amran             2018-02-18  103965     176     0.17                  89.582
Al Mahwit         2018-02-18   62887     151     0.24                  86.122
Al Dhale'e        2018-02-18   47136      81     0.17                  64.438
Hajjah            2018-02-18  121287     422     0.35                  52.060
Sana'a            2018-02-18   76250     123     0.16                  51.859
Dhamar            2018-02-18  103214     161     0.16                  51.292
Abyan             2018-02-18   28243      35     0.12                  49.477
Al Bayda          2018-02-18   30568      36     0.12                  40.253
Amanat Al Asimah  2018-02-18  103184      71     0.07                  36.489
Raymah            2018-02-18   17841     120     0.67                  29.403
Lahj              2018-02-18   24342      22     0.09                  24.128
Aden              2018-02-18   20966      62     0.30                  22.715
Ibb               2018-02-18   67129     288     0.43                  22.701
Taizz             2018-02-18   63696     188     0.30                  21.244
Sa'ada            2018-02-18   10706       5     0.05                  11.828
Shabwah           2018-02-18    1399       3     0.21                   2.315

In [ ]:
# Matplotlib for additional customization
from matplotlib import pyplot as plt
%matplotlib inline

# First we create a pivot table of the data we wish to plot. Here only the "Cases", although you
# should experiment with the other columns as well.
drawing = pd.pivot_table(data_slice, values="Cases", index=["Date"], columns=["Governorate"])
# Then we set a plot figure size and draw
drawing.plot(figsize=(20,15), grid=False)